@model FMS_Backend.FMSModels.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vehicletype" class="control-label"></label>
                <input asp-for="Vehicletype" class="form-control" />
                <span asp-validation-for="Vehicletype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fueltype" class="control-label"></label>
                <input asp-for="Fueltype" class="form-control" />
                <span asp-validation-for="Fueltype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuelefficiency" class="control-label"></label>
                <input asp-for="Fuelefficiency" class="form-control" />
                <span asp-validation-for="Fuelefficiency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <input asp-for="Userid" class="form-control" />
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
